@import "bootstrap-grid.min.css";

body {
    --main-bg-color: white;
    --main-color-silver: #a9a5a5;
    --main-color: #27817a;
    --main-color-second: #156059;
    background: var(--main-bg-color);
    font-size: 1.3em;
    color: var(--main-color);
}

a {
    color: var(--main-color);
    text-decoration: underline;
}

a:hover {
    color: var(--main-color-second);
    text-decoration: none;
    transition: 0.7s ease;
}

main {
    padding-top: 30px;
}

.float-left {
    float: left;
}

.float-right {
    float: right;
}

.text-center {
    text-align: center;
}

.text-left {
    text-align: left;
}

.text-right {
    text-align: right;
}

section {
    margin-top: 50px;
    clear: left;
}

.form-group {
    margin: 20px 0;
}

.form-group input {
    min-width: 500px;
    padding: 5px;
}

.form-group button {
    padding: 5px 10px;
}