@import "tailwindcss";

@theme {
  --color-primary: var(--color-primary);
  --color-primary-hover: var(--color-primary-hover);
  --color-secondary: var(--color-secondary);
  --color-secondary-hover: var(--color-secondary-hover);
  --color-text: var(--color-text);
  --color-border: var(--color-border);
  --color-bg: var(--color-bg);
}
